@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";
//// CARD
.card {
    display: flex;
    max-width: 70%;
    margin: 8rem auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 6px #000000;
    overflow: hidden;
  
    @include respond(tab-land) {
      flex-direction: column;
    }
  
    &__left {
      display: flex;
      flex-direction: column;
      width: 70%;
      padding: 3.5rem 3rem;
      background-color: $color-grey-2;
      background-image: linear-gradient(
        to top left,
        rgba(white, 0.4) 0%,
        rgba(white, 0.4) 25%,
        rgba(white, 0.3) 25%,
        rgba(white, 0.3) 50%,
        rgba(white, 0.2) 50%,
        rgba(white, 0.2) 75%,
        rgba(white, 0.1) 75%,
        rgba(white, 0.1) 100%
      );
  
      @include respond(tab-land) {
        width: 100%;
      }
    }
  
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      padding: 3rem;
      padding-left: 5%;
      border-left: 2px dashed $color-white;
      background-color: $color-grey-2;
  
      @include respond(tab-land) {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
  
      @include respond(phone) {
        flex-direction: column;
      }
    }
  
    /// CONTENT
    &__content-box {
      text-align: left;
  
      h3 {
        font-size: 2.75rem;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0.25rem;
      }
      p {
        padding-left: 1rem;
        font-size: 1.4rem;
        font-weight: bolder;
        text-transform: capitalize;
      }
  
      @include respond(phone) {
        margin-top: 2rem;
  
        &:last-of-type {
          margin-bottom: 2rem;
        }
      }
    }
  
    &__heading {
      align-self: flex-start;
      border-bottom: 2px solid $color-primary-1;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-sub-heading;
  
      @include respond(phone) {
        align-self: center;
      }
    }
  
    &__text {
      padding-left: 2rem;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0.08rem;
  
      @include respond(phone) {
        padding-left: 0;
        text-align: center;
      }
    }
  }
  