@import "../../../styles/abstracts/variables";

.header-section {
  margin-top: 7rem;
  text-align: center;

  h1 {
    position: relative;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: $letter-spacing-heading;
  }

  p {
    max-width: 85%;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 300;
  }
}
