// COLORS
$color-primary-1: #ea002a;
$color-primary-2: #ea002bad;
$color-secondary: #2a2b2f;

$color-white: #fbfbfb;

$color-grey-1: #1c1c1c;
$color-grey-2: #2a2a2e;

$color-black: #000101;

// FONT-SIZE
$font-primary: "Lato", sans-serif;
$font-secondary: sans-serif;

// LETTER-SPACING
$letter-spacing-heading: 1rem;
$letter-spacing-sub-heading: 0.5rem;
$letter-spacing-small: 0.25rem;
$letter-spacing-xs: 0.2rem;

// BOX SHADOWS
$box-shadow-1: 3px 3px 6px #4a4a4af2;
$box-shadow-2: 3px 3px 6px $color-black;
$box-shadow-3: 0 10px 6px $color-black;
$box-shadow-3--light: 0 7px 6px $color-black;

// OVERLAYS
$overlay-dark: linear-gradient(
  to top left,
  rgba($color-black, 0.3) 0%,
  rgba($color-black, 0.3) 25%,
  rgba($color-black, 0.2) 25%,
  rgba($color-black, 0.2) 50%,
  rgba($color-black, 0.1) 50%,
  rgba($color-black, 0.1) 75%,
  rgba($color-black, 0.05) 75%,
  rgba($color-black, 0.05) 100%
);
$overlay-light: linear-gradient(
  to top left,
  rgba(white, 0.4) 0%,
  rgba(white, 0.4) 25%,
  rgba(white, 0.3) 25%,
  rgba(white, 0.3) 50%,
  rgba(white, 0.2) 50%,
  rgba(white, 0.2) 75%,
  rgba(white, 0.1) 75%,
  rgba(white, 0.1) 100%
);

// FILTER FOR LOGO
$filter-primary: invert(25%) sepia(92%) saturate(7436%) hue-rotate(343deg)
  brightness(88%) contrast(110%);
