@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";
//// COUNTER
.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7rem 0;
  border-top: 3px solid $color-white;
  border-bottom: 3px solid $color-white;

  @include respond(phone) {
    flex-direction: column;
    padding: 3rem 0;
  }

  &__column {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include respond(phone) {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__number {
    font-size: 12rem;
    font-weight: bold;

    @include respond(phone) {
      font-size: 8rem;
    }
  }

  &__disc {
    font-size: 5rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }
}
