@import '../../styles/abstracts/mixins.scss';
//// RECORDED SESSIONS SECTION
.sessions-section {
    margin-top: 15rem;
    margin-bottom: 7rem;
  
    @include respond(phone) {
      h2 {
        text-align: center;
      }
    }
  }
  