@import '../../styles/main';
//// NAV-BAR
.nav {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-left: -4rem;
    padding: 0.5rem 3rem;
    letter-spacing: 1.5px;
  
    @media only screen and (max-width: 85.3em) {
      padding: 0;
    }
  
    @include respond(in-between-tab) {
      display: none;
    }
  
    @include respond(tab-land) {
      padding: 0;
    }
  }