//// HANDOUTS CAROUSEL SECTION
.carousel-section {
    margin-top: 10rem;
  }
  
  //// HANDOUTS RECORDED SESSIONS SECTION
  .recorded-section {
    position: relative;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }
  